.forms{
        padding: 1rem;
        background: aliceblue;
    &--description{
        input{
            width: 100%;
            padding: 12px 0px 12px 35px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
        }
    }
    &--date-time{
        display: flex;
    }
    &--label{
        display: flex;
        justify-content: space-between;
    }
    &--timepicker-icon{
        position: absolute;
		margin-left:5px;
		margin-top: 18px;
    }
    &--dropdown-icon{
        margin-top: 20px;
        margin-left: 285px;
        position: absolute;
    }
    &--button-group{
        display: flex;
        justify-content: flex-end;
        button{
            outline: none;
            border: none;
        }
    }
    &--btn-submit{
        background: rgb(91, 173, 91);
        padding: 10px;
        margin: 0 8px;
        border-radius: 5px;
        color: white;
    }
    &--btn-cancel,&--btn-delete{
        outline: none;
        border: none;
        background: transparent;
        &:hover{
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
}